<!DOCTYPE html>
<html>
<head>
    <title>Add Initiative</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add Initiative</h1>
        <form action="/add_initiative" method="post">
            <div class="input-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="dsc">Short description:</label>
                <input type="text" id="dsc" name="dsc" required>
            </div>
            <input class="submit-btn" type="submit" value="Add">
        </form>

        <a class="a-back" href="{{ url_for('index') }}">Back to Initiatives</a>

        
          </script>
    </div>
</body>
</html>
