<!-- feedback_page.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Feedback Tracker</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    
    <body>
        <div class="container">
            <h1>Feedback for <span class="initiative-name">{{ initiative.name }}</span></h1>

            <form action="{{ url_for('submit_feedback', initiative_id=initiative.id) }}" method="post">
                <textarea name="content" rows="4" cols="50" placeholder="Enter your feedback here..." required></textarea>
                <input class="submit-btn" type="submit" value="Submit Feedback">
            </form>

            <h2>Feedbacks</h2>
            <ul>
            {% for feedback in feedbacks %}
                <li>{{ feedback.content }} | Sentiment: {{ feedback.sentiment }}</li>
            {% endfor %}
            </ul>

            <h2>Word Cloud</h2>

            <img src="{{ url_for('static', filename = 'images/'+initiative.id|string+'.jpg') }}"
             onerror="this.onerror=null;this.src='/static/imgs/default.jpg'" height=30% width=30%/>

            <br>

            <a class="a-back" href="{{ url_for('index') }}">Back to Initiatives</a>
        </div>
    </body>
</html>
