<!-- index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Initiatives List</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    
    <body>
        <div class="container">
            <a href="{{ url_for('add_initiative') }}">Add New Initiative</a>
            <h1>Initiatives</h1>
            <ul>
            {% for initiative in initiatives %}
                <li>
                    <a href="{{ url_for('feedback_page', initiative_id=initiative.id) }}">
                        {{ initiative.name }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </body>
</html>
